{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<section id='books'>
    <h2>Search books and browse your favorite</h2>
    <p>just enter the search query to obtain the results</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn" type="submit" value="Submit">
    </form>
</br>
{% for result in results %}
<div id="booksdetail">
    <a class="linking" href="{{ result.preview }}" target="_blank">
        <div class="card">
            <img src="{{ result.thumbnail }}" alt="">
            <div class="info">
                <h3>{{ result.title }}</h3>
                <h5>{{result.subtitle}}</h5>
                {% if result.description %}
                    <h6>{{result.description}}</h6>
                {% endif %}
                <b> ]
                {% if result.categories %}
                    <h6>Category:
                        {% for Category in result.categories%}
                            {{Category}}
                        {% endfor %}
                    </h6>
                {% endif %}
                {% if result.count %}
                    <h6 >Pages: {{result.count}}</h6>
                {% endif %}
                {% if result.rating %}
                    <h6>Rating: {{result.rating}}</h6>
                {% endif %}
                </b>
            </div>
        </div>
    </a>
</div>
    {% endfor %}
    <br>
</section>

{% endblock content %}