{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section>
<h3 id="welcome">Welcome</h3>
<hr></br>
<div id="cards">
  <div id="card">
    <a href="{% url 'notes' %}">
      <img src="{% static 'images/notes.jpg' %}" alt="Notes image">
      <div class="card-info">
        <h3>Notes</h3>
        <p>Create Notes to refer them later. They are stored permanently until deleted</p>
      </div>
    </a>
  </div>
  <div id="card">
    <a href="{% url 'homework' %}">
      <img src="{% static 'images/homework.jpg' %}" alt="Notes image">
      <div class="card-info">
        <h3>Homework</h3>
        <p>Add homeworks and assign them deadlines.To remember deadlines</p>
      </div>
    </a>
  </div>
  <div id="card">
    <a href="{% url 'todo' %}">
      <img src="{% static 'images/todo.jpg' %}" alt="Notes image">
      <div class="card-info">
        <h3>To Do</h3>
        <p>Create To-Do to refer them later and Remove them later. when you are done.</p>
      </div>
    </a>
  </div>
  <div id="card">
    <a href="{% url 'books' %}">
      <img src="{% static 'images/books.jpg' %}" alt="Notes image">
      <div class="card-info">
        <h3>Books</h3>
        <p>Search your books from here and get them in organised manner.</p>
      </div>
    </a>
  </div>
</div>
</section>
{% endblock content %}