{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<div id="signin">
    <form method="POST">
        {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Log In</legend>
        {{ form }}
      </fieldset>
      <div class="signIn">
        <button href="" class="btn" type="submit">
          Sign In
        </button>
      </div>
    </form>
      <div class="new">Need an Account?
        <a class="link" href="{% url 'register' %}">Create an Account</a>
      </div>
  </div>
{% endblock content %}