{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}

<div id="notes">
        {% for note in notes %}
                <div class="noteed">
                    <div class="title">{{note.title}}</div>
                    <div class="description">{{note.description}}</div>
                    <div class="delete"><a href="{% url 'delete-note' note.id %}"><i class="fa fa-trash fa-2x"></i></a>
                    </div>
                </div>
        {% endfor %}
</div>
<br>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Notes</legend>
        </fieldset>
        {{form}}
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Create
            </button>
        </div>
    </form>
</div>

{% endblock content %}